[submodule "device/CMSIS_5"]
	path = Program/device/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "device/cmsis-device-f4"]
	path = Program/device/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
